:root{
  --background-color: rgba(218, 221, 221, 0.832);
  --background-color2: rgb(235, 239, 240);
  --font:Ubuntu;
  --scale:4;
}


html{
  background-color: var(--background-color2);
  font-family: var(--font);
}

nav{
  background-color: var(--background-color);
  font-family: var(--font);
  border-radius: 30px;
  padding: 35px;
}


.title-h1{
  color: rgb(0, 0, 0);
  font-family: var(--font);
  background-color: var(--background-color);
  border-radius: 20px;
  padding: 20px;
  position: relative;
  animation-name: move_title-h1;
  animation-duration: 1.25s;
  animation-iteration-count: 1;
}

.hidden{
  visibility: hidden;
}


@keyframes move_title-h1 {
  0% {top: -100px;}
  100% {top: 0px;}
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

.wrapper {
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 100px;
  margin-top: 5rem;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.item {
  width: 200px;
  height: 100px;
  color: black;
  background-color: red;
  border-radius: 6px;
  position: absolute;
  left: max(calc(200px * 8), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-iteration-count: infinite;
}

.item1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}