.background {
    background-color: rgb(255, 255, 255);
}

.video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.duck {
    display: flex;
    justify-content: center;
    align-items: center;
}