:root{
  --background-color:rgb(47, 47, 47);
  --font:Ubuntu;
}


body{
  background-color: rgb(63, 62, 62);
  font-family: var(--font);
}

nav{
  background-color: var(--background-color);
  font-family: var(--font);
  border-radius: 30px;
  padding: 35px;
}

p{
  font-family: var(--font);
}

.title-h1{
  color: rgb(0, 0, 0);
  font-family: var(--font);
  background-color: var(--background-color);
  border-radius: 20px;
  padding: 20px;
}

.hidden{
  visibility: hidden;
}