:root{
  --background-color: rgba(218, 221, 221, 0.832);
  --background-color2: rgb(235, 239, 240);
  --font:Ubuntu;
  --scale:4;
}


html{
  background-color: var(--background-color2);
  font-family: var(--font);
}

nav{
  background-color: var(--background-color);
  font-family: var(--font);
  border-radius: 30px;
  padding: 35px;
}

.p1{
  font-family: var(--font);
  justify-content: center;
  align-content: center;
  align-self: center;
  text-align: center;
  position: relative;
  animation-name: move_p1;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: 999999999999999999999999999999999999999;
}

.p2{
  font-family: var(--font);
  justify-content: center;
  align-content: center;
  align-self: center;
  text-align: center;
  position: relative;
  animation-name: move_p2;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: 999999999999999999999999999999999999999;
}

.p3{
  font-family: var(--font);
  justify-content: center;
  align-content: center;
  align-self: center;
  text-align: center;
  position: relative;
  animation-name: move_p3;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: 999999999999999999999999999999999999999;
}

.title-h1{
  color: rgb(0, 0, 0);
  font-family: var(--font);
  background-color: var(--background-color);
  border-radius: 20px;
  padding: 20px;
  position: relative;
  animation-name: move_title-h1;
  animation-duration: 1.25s;
  animation-iteration-count: 1;
}

.hidden{
  visibility: hidden;
}


@keyframes move_title-h1 {
  0% {top: -100px;}
  100% {top: 0px;}
}

@keyframes move_p1 {
  0% {transform:scaleX(15) scaleY(1)}
  50% {transform:scaleX(1) scaleY(15)}
  100% {transform:scaleX(15) scaleY(1)}
}

@keyframes move_p2 {
  0% {transform: rotate(0deg); scale: var(--scale);}
  25% {transform: rotate(90deg); scale: var(--scale);}
  50% {transform: rotate(180deg); scale: var(--scale);}
  75% {transform: rotate(270deg); scale: var(--scale);}
  100% {transform: rotate(360deg); scale: var(--scale);}
}

@keyframes move_p3 {
  0% {left: 0px; scale: var(--scale);}
  25% {left: 400px; scale: var(--scale);}
  50% {left: 0px; scale: var(--scale);}
  75% {left: -400px; scale: var(--scale);}
  100% {left: 0px; scale: var(--scale);}
}

@keyframes move_p4 {
}