:root{
  --background-color: rgba(218, 221, 221, 0.832);
  --background-color2: rgb(235, 239, 240);
  --font:Ubuntu;
}


html{
  background-color: var(--background-color2);
  font-family: var(--font);
}

nav{
  background-color: var(--background-color);
  font-family: var(--font);
  border-radius: 30px;
  padding: 35px;
}

p{
  font-family: var(--font);
  justify-content: center;
  align-content: center;
  align-self: center;
  text-align: center;
  position: relative;
  animation-name: move_p1;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-iteration-count: 999999999999999999999999999999999999999;
}

.title-h1{
  color: rgb(0, 0, 0);
  font-family: var(--font);
  background-color: var(--background-color);
  border-radius: 20px;
  padding: 20px;
  position: relative;
  animation-name: move_title-h1;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.hidden{
  visibility: hidden;
}


@keyframes move_title-h1 {
  0% {left: 20px; transform: scale(20%) rotate(10deg);}
  100% {left: 0px; transform: rotate(0deg);}

}

@keyframes move_p1 {
  0% {transform:scaleX(10) scaleY(1)}
  50% {transform:scaleX(1) scaleY(10)}
  100% {transform:scaleX(10) scaleY(1)}
}

@keyframes move_p2 {

}