:root{
  --background-color: rgba(218, 221, 221, 0.832);
  --background-color2: rgb(235, 239, 240);
  --font:Ubuntu;
  --scale:4;
}


html{
  background-color: var(--background-color2);
  font-family: var(--font);
}

nav{
  background-color: var(--background-color);
  font-family: var(--font);
  border-radius: 30px;
  padding: 35px;
}


.title-h1{
  color: rgb(0, 0, 0);
  font-family: var(--font);
  background-color: var(--background-color);
  border-radius: 20px;
  padding: 20px;
  position: relative;
  animation-name: move_title-h1;
  animation-duration: 1.25s;
  animation-iteration-count: 1;
}

.hidden{
  visibility: hidden;
}


@keyframes move_title-h1 {
  0% {top: -100px;}
  100% {top: 0px;}
}

.test{
  font-family: var(--font);
  color: rgb(0, 0, 0);
}