:root{
  --background-color: rgba(218, 221, 221, 0.832);
  --background-color2: rgb(235, 239, 240);
  --font:Ubuntu;
}


html{
  background-color: var(--background-color2);
  font-family: var(--font);
}

nav{
  background-color: var(--background-color);
  font-family: var(--font);
  border-radius: 30px;
  padding: 35px;
  position: relative;
  animation-name: move_a;
  animation-duration: 4s;
  animation-iteration-count: 3;
}

p{
  font-family: var(--font);
  justify-content: center;
  align-content: center;
  align-self: center;
  text-align: center;
}

.title-h1{
  color: rgb(0, 0, 0);
  font-family: var(--font);
  background-color: var(--background-color);
  border-radius: 20px;
  padding: 20px;
}

.hidden{
  visibility: hidden;
}


@keyframes move_a {
  0% {left: 0px}
  50% {left: 100px;}
  100% {left: 0px;}
}