:root{
  --background-color: rgba(218, 221, 221, 0.832);
  --background-color2: rgb(235, 239, 240);
  --font:Ubuntu;
  --scale:4;
}

html{
  background-color: var(--background-color2);
  font-family: var(--font);
  width: fit-content;
  height: auto;
  align-self: center;
  margin-left: auto;
  margin-right: auto;

}

.title{
  margin: 10px;
  opacity: 0;
  padding: 10px;
  border: 10px solid #929292;
  border-radius: 20px;
  animation-name: title_fade_in;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes title_fade_in {
  0%{opacity: 0;}
  100%{opacity: 1;}
}