<!DOCTYPE html>
<html lang="en">
<head>
    <title>Old-timey radio</title>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="center"><h1 class="main-title">_____</h1></div>
</body>
</html>
<style>
    html{
        font-family: "Ubuntu", sans-serif;
        font-weight: 500;
        font-style: normal;
        background-color: black;
    }
    body{
        color: white;
    }
    .center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-title{
        transform: scale(1.5);
    }
    .invisible{
        opacity: 0;
    }
</style>